<section 
    class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
    color="white"
>

    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-white pt-40 text-[40px] font-medium">
                Model Y
            </h2>
            <p class="text-white text-[18px]">
                From $37,490
            </p>
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-20">
            <div class="gap-x-6 flex mx-auto">
                <a 
                class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
                href="#">
                    Shop Avaible
                </a>
                <a 
                class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
                href="#">
                    Demo Drive
                </a>
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full z-10">
        <img
            class="w-full object-cover object-center"
            src="Model-Y.avif"
            alt=""
        >
    </div>

</section>